@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));

  /* Usando a cor de fundo com transparência */
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 0.5)  /* 0.5 é a transparência, ajuste conforme necessário */
    )
    rgb(var(--background-start-rgb));

  /* Adicionando a imagem como plano de fundo */
  background-image: url('https://images.ctfassets.net/s5n2t79q9icq/3igpaHJHUt5BQ9AYqrqoza/b2f42b2cac5ee52ef366323f7b229ba7/nicol-bolas-1920.jpg?q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

